<html>
<head>
    <title>Michel - Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Michel R</h1>
        <p>Full Stack Developer | DevOps Beginner | Tech Enthusiast</p>
    </header>
    <section id="bio">
        <h2>About Me</h2>
        <p>I'm a cool dude!</p>
    </section>
    <section id="work">
        <h2>My Work</h2>
        <div class="project" id="project1">React Magic</div>
        <div class="project" id="project2">CICD Magic Pipeline</div>
        <div class="project" id="project3">Kubernetes Good Stuff</div>
    </section>
    <footer>
        <p>Contact me at mt@example.com</p>
    </footer>
</body>
</html>
